# Django Core
Django>=5.2.11
djangorestframework
django-environ

# Authentication
djangorestframework-simplejwt
django-allauth
dj-rest-auth
django-cors-headers

# API Documentation
drf-yasg

# Real-time & WebSocket
daphne
channels
channels-redis

# Background Tasks & Redis
celery
redis
django-celery-results
django-celery-beat

# Push Notifications
firebase-admin
stripe

# Performance & Security
django-ratelimit
sentry-sdk[django]
gunicorn

# Utility & Data
reportlab
matplotlib
asgiref
inflection
packaging
pytz
PyYAML
sqlparse
tzdata
uritemplate
psycopg2-binary
